<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введиете имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="age">Введите год рождения: </label>
    <input type="text" th:field="*{birth_date}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('birth_date')}" th:errors="*{birth_date}">Age Error</div>
    <br/>
        <br/>
    <input type="submit" value="Добавить"/>
</form>

</body>
</html>